html, body {
    color: black;
    height: 100%;
    font-weight: bold;
    margin: 0;
    font-size: 100%;
    padding: 0;
    background-image: url("http://cdn.wallpapersafari.com/28/89/0SLtCM.jpg");
}
.form-group {
    margin-top: 20%;
}
.answer {
    margin-top: 5%;
    color: #0052cc;
    font-size: 25px;
}
.big-text {
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.white-background {
    background-color: #fafafa;
}
h1 {
    font-family: impact;
    -webkit-text-stroke: 1px black;
    color: white;
}
h2 {
    margin-bottom: 20px;
    font-style: italic;
}
#articles {
    display: none;
    background: white;
    padding: 5%;
    border-radius: 5px;
    border-color: #444;
    margin-top: 5%;
}
a {
    font-family:  'Times New Roman', Times, serif;
}