html, body {
    color: black;
    height: 100%;
    font-weight: bold;
    margin: 0;
    font-size: 100%;
    padding: 0;
    background-image: url("http://cdn.wallpapersafari.com/28/89/0SLtCM.jpg");
}
.form-group {
    margin-top: 20%;
}
.answer {
    margin-top: 5%;
}
.big-text {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.fb-container {
    background-color: white;
}
h1 {
    font-family: impact;
}
#articles {
    background: white;
}